@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');

/* CSS RESET */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.nowrap {
    white-space: nowrap;
}

:root {
    --BGCOLOR:hsl(234, 29%, 20%);
    --CARDCOLOR:hsl(0, 0%, 100%);
    --WCOLOR:  hsl(0, 0%, 100%);
    --DARKGREY: hsl(234, 29%, 20%);
    --TOMATO: hsl(4, 100%, 67%);
}

body {
    background-color: var(--BGCOLOR);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 670px;
    /* height: 480px; */
    display: flex;
    /* gap: 40px; */
    background-color: var(--CARDCOLOR);
    border-radius: 30px;
    position: relative;
    padding: 30px;
}
.email_error {
    position: absolute;
    top: 58%;
    left: 29%;
    font-size: 0.7rem;
    font-family: "Roboto", sans-serif;
    color: red;
    font-weight: 600;
}

h1 {
    font-family:"Roboto", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}
li {
    list-style-type: none;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    color: var(--BGCOLOR);
}

.card_item2 {
    width: 40%;
}
.card_item1 {
    width: 60%;
    padding-top: 20px;
}
.illustration_image {
    width: 100%;
    /* height: 430px; */
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    color: var(--BGCOLOR);
    margin-top: 13px;
}
.text {
    font-size: 0.7rem;
    font-family:"Roboto", sans-serif;
    font-weight: 600;
    color: var(--DARKGREY);
    margin-top: 25px;
}
ul {
    margin-top: 18px;
}
.icon {
    margin-right: 12px;
    width: 16px;
}
input {
    font-family: inherit;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 15px;
    border: 1px solid hsl(231, 7%, 60%);
    outline: none;
}
button {
    width: 270px;
    height: 37px;
    background-color: var(--DARKGREY);
    color: var(--WCOLOR);
    font-family:"Roboto", sans-serif;
    font-size: 0.75rem;
    border-radius: 5px;
    margin-top: 17px;
    border: none;
}
button:hover{
    background-color: var(--TOMATO);
    cursor:pointer;
}
input:hover,
input:focus {
    border: 1px solid black;
    cursor: pointer;
}
.error {
    border-color: red;
    background-color: rgba(247, 114, 114, 0.459);
}

.success {
    max-width: 400px;
    height: 400px;
    background-color: var(--WCOLOR);
    border-radius: 15px;
    margin: auto;
    margin-top: 150px;
}
.success_content {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 40px;
}
.success_button {
    width: 95%;
    height: 45px;
    font-weight: bold;
    margin: auto;
}
h1 {
    font-family: "Roboto", sans-serif;
    color: var(--DARKGREY);
}
.hide {
    display: none;
}
.conceal {
    display: none;
}

@media screen and (max-width:545px) {
    .container {
        flex-direction: column-reverse;
        width: 95%;
        padding: 0;
    }
    .illustration_image {
        content: url(./assets/images/illustration-sign-up-mobile.svg);
    }
    .card_item1 {
        width: 100%;
        padding: 25px;
    }
    .card_item2 {
        width: 100%;
    }
    input {
        width: 100%;
    }
    button {
        width: 100%;
    }
    .email_error {
        top: 86.5%;
    }
}